/* azzermaneto pareametri */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Monofonto', sans-serif;
    color: rgb(113 247 158);
    font-size: 60px;
}


.container{
    background-color: black;
    padding: 2em 4em 0.5em;
    height: 100vh;
    overflow-y: hidden;
    background-image: url("https://i.pinimg.com/originals/aa/23/55/aa235579fa80090cbe4bdbf195a88295.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.campi{
    margin-bottom: 0.8em;
    padding: 0 0.5em;
    height: 150px;
    width: 70%;
    border: 2px solid rgb(113 247 158);
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
}


.campi:hover{
    background-color:  rgb(113 247 158);
    color: black;
    cursor: pointer;
    border: 2px solid black;
}

.campi:hover h4{
    border-top: 2px solid rgb(113 247 158);
    border-bottom: 2px solid rgb(113 247 158);
}

h4{
    background-color: rgb(0, 0, 0, 0);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 103%;
    width: 90%;
    position: absolute;
    top: -2px;
    left: 60px;
    padding: 0.5em;
}



/* responsive */
@media screen and (max-width:1883px) {

    body{
        font-size: 65px;
    }

    .container{
        padding: 2.5em 2em;
    }

    .campi{
        height: 120px;
    }

    h4{
        height: calc(103% + 1px);
    }

}

@media screen and (max-width:1745px) {


    .container{
        padding: 3.5em 2em;
    }

    .campi{
        height: 110px;
        margin-bottom: 0.5em;
    }

    h4{
        left: 50px;
    }

}

@media screen and (max-width:1626px) {

    .campi{
        height: 100px;
    }

    h4{
        height: calc(103% + 1.5px);
    }

}

@media screen and (max-width:1482px) {

    body{
        font-size: 55px;
    }

    .container{
        padding: 5em 2em;
    }

    .campi{
        height: 90px;
    }

    h4{
        left: 45px;
    }
}

@media screen and (max-width:1298px) {

    body{
        font-size: 50px;
    }

    .container{
        padding: 6.5em 2em;
    }

    .campi{
        height: 80px;
    }

    h4{
        padding: 0.2em;
        left: 40px;
    }

}

@media screen and (max-width:1194px) {

    body{
        font-size: 40px;
    }

    .container{
        padding: 9em 2em;
    }

    .campi{
        height: 75px;
    }

    h4{
        padding: 0.2em;
    }

}

@media screen and (max-width:1028px) {

    body{
        font-size: 35px;
    }

    .container{
        padding: 11em 2em;
    }

    .campi{
        height: 70px;
    }

    h4{
        height: calc(103% + 2.5px);
        padding: 0.2em;
    }

}

@media screen and (max-width:924px) {

    body{
        font-size: 30px;
    }

    .container{
        padding: 14em 2em;
    }

    .campi{
        height: 60px;
    }


}

